:root {
    --color-primary: #ccd6f6;
    --color-secondary: rgb(136, 144, 179);
    --color-highlight: rgb(0, 255, 219);
    --color-bg: rgb(8, 23, 49);
    --color-text-bg: rgb(15, 31, 67);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
}

body {
    font-family: 'Calibre', sans-serif;
    background-color: rgb(8, 23, 49);
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid white; */
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(72, 85, 115);
    border-radius: 10px;
}

.nav-bar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    /* border: 1px solid black; */
    padding: 0 2rem;
    background-color: var(--color-bg);
}

.nav-bar-items {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-bar-item>span {
    color: var(--color-highlight);
}

.nav-bar-item {
    margin-right: 4rem;
    padding: 2rem 0;
    color: var(--color-secondary)
}

.nav-bar-item:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.hero-section {
    align-items: center;
}

.hero {
    width: 80%;
    max-width: 1000px;
    /* border: 1px solid black; */
}

.hero-text-1 {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: var(--color-highlight);
}

.hero-text-name {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.hero-text-2 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-secondary)
}

.hero-text-3 {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: var(--color-secondary);
    width: 60%;
    line-height: 1.8rem;
}

.hero-text-3>span {
    color: var(--color-highlight);
}

.about-me-section {
    align-items: center;
}

.about-me {
    width: 80%;
    max-width: 1000px;
}

.about-me-heading {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.about-me-heading>span {
    color: var(--color-highlight);
    font-size: 1.5rem;

}

.about-me-heading>h2 {
    color: var(--color-primary);
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.line {
    background-color: rgb(33, 51, 87);
    height: 2px;
    flex-grow: 1;
}

.about-me-content {
    font-size: 1.1rem;
    color: var(--color-secondary);
    line-height: 1.8rem;
}

.highlight {
    color: var(--color-highlight);
}

.list-item {
    display: block;
}


.projects {
    width: 80%;
    max-width: 1000px;
}

.projects-heading {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.projects-heading>span {
    color: var(--color-highlight);
    font-size: 1.5rem;
}

.projects-heading>h2 {
    color: var(--color-primary);
    font-size: 1.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projects-project {
    display: flex;
    position: relative;
}

.project-img {
    width: 50%;

}

.project-img>img {
    width: 120%;
}

.project-img::after {
    width: 60%;
    height: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-highlight);
    opacity: .3;
    transition: opacity .2s ease-in;
}

.project-img:hover::after {
    opacity: 0;
}


.project-content {
    width: 50%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.project-content>h2 {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin: 1rem 0;
}

.project-content-info {
    color: var(--color-secondary);
    line-height: 1.8rem;
    text-align: end;
    background-color: var(--color-text-bg);
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: .3rem;
    z-index: 1;
}

.project-tech-list {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}

.project-tech {
    color: var(--color-primary);
    font-size: 1rem;
    margin-left: 1rem;
}

.project-links {
    display: flex;
    justify-content: flex-end;
}

.project-links>i {
    color: var(--color-primary);
    font-size: 1.3rem;
    margin-left: 1.3rem;
    transition: color .2s ease-in;
}

.project-links>i:hover {
    color: var(--color-highlight);
    cursor: pointer;
}