:root {
    --color-primary: rgb(195, 203, 238);
    --color-secondary: rgb(136, 144, 179);
    --color-highlight: rgb(0, 255, 219);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
}

body {
    font-family: 'Calibre', sans-serif;
    background-color: rgb(8, 23, 49);
}


.nav-bar-container {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    padding: 0 2rem;
}

.nav-bar-items {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-bar-item>span {
    color: var(--color-highlight);
}

.nav-bar-item {
    margin-right: 4rem;
    padding: 3rem 0;
    color: var(--color-secondary)
}

.nav-bar-item:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.hero {
    width: 80%;
    max-width: 1000px;
    /* border: 1px solid black; */
    margin: 5rem auto 0 auto;
}

.hero-text-1 {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: var(--color-highlight);
}

.hero-text-name {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.hero-text-2 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-secondary)
}

.hero-text-3 {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: var(--color-secondary);
    width: 60%;
    line-height: 1.8rem;
}

.hero-text-3>span {
    color: var(--color-highlight);
}